@model CupcakeShop.Web.Models.Order.ConfirmOrderList

@{
    Layout = "_Layout";
}

<form class="confirm-order" method="post" asp-action="ConfirmOrder" asp-route-clientId="1" >
    <div>
        <h2 class="page-title">Confirm Order</h2>
    </div>

    <div class=" confirmOrder-form">
        <samp>Persona Data:</samp><br>
        <label asp-for="@Model.ClientDto.FirstName">First Name: </label>
        <input asp-for="@Model.ClientDto.FirstName" type="text" readonly><br><br>
        
        <label asp-for="@Model.ClientDto.LastName">Last Name: </label>
        <input asp-for="@Model.ClientDto.LastName" type="text" readonly><br><br>

        <label asp-for="@Model.ClientDto.PhoneNumber">Phone Number: </label>
        <input asp-for="@Model.ClientDto.PhoneNumber" type="text" readonly><br><br>

        <label asp-for="@Model.ClientDto.Email">Email: </label>
        <input asp-for="@Model.ClientDto.Email" type="text" readonly><br><br>

        <div class="radio-container">
            <div class="radio-options">
                <input asp-for="ClientDto.Type" value="Individual" type="radio">
                <label asp-for="ClientDto.Type">Individual</label><br>

                <input asp-for="ClientDto.Type" value="Company" type="radio">
                <label asp-for="ClientDto.Type">Company</label><br>
            </div>
        </div><br>

        <samp>Address:</samp><br>
        <label asp-for="@Model.ClientDto.Street">Street: </label>
        <input asp-for="@Model.ClientDto.Street" type="text" readonly><br><br>

        <label asp-for="@Model.ClientDto.Block">Block: </label>
        <input asp-for="@Model.ClientDto.Block" type="number" readonly><br><br>

        <label asp-for="@Model.ClientDto.Floor">Floor: </label>
        <input asp-for="@Model.ClientDto.Floor" type="number" readonly><br><br>
        
        <label asp-for="@Model.ClientDto.Suit">Suit: </label>
        <input asp-for="@Model.ClientDto.Suit" type="number" readonly><br><br>
        
    </div><br>

    <div>
        @if (Model.CupcakeQuantityDto.Any())
        {
            <input asp-for="@Model.CupcakeQuantityDto" value="@Model.CupcakeQuantityDto" hidden>
            <samp>Cupcakes:</samp>
            <br>
            <table class="cupcakes-table table-bordered table-striped ">
                <thead>
                <tr>
                    <th>
                        Cupcake Name
                    </th>
                    <th>
                        Flavour
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Producer
                    </th>
                    <th>
                        Expiration
                    </th>
                    <th>
                        Icing
                    </th>
                    <th>
                        Dough
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (var cupcake in Model.CupcakeQuantityDto)
                {
                    <tr>
                        <td >@cupcake.Name</td>
                        <td >@cupcake.Flavour</td>
                        <td >@cupcake.Price</td>
                        <td >@cupcake.Weight</td>
                        <td >@cupcake.Producer</td>
                        <td >@cupcake.Expiration</td>
                        <td >@cupcake.Icing</td>
                        <td >@cupcake.Dough</td>
                        <td >@cupcake.Quantity</td>
                    </tr>
                }
                </tbody>
            </table>
        }
        <div class="confirmButtons">
            <input type="submit" class="submitOrderButton btn btn-primary" value="Confirm Order">
            <a asp-controller="Order" asp-action="EditOrder" asp-route-clientId="1" class="submitOrderButton btn btn-info">Edit Order</a>
            <a asp-controller="Cart" asp-action="Cart" asp-route-clientId="1" class="backToCartButton btn btn-danger">Back to Cart</a>
        </div>
    </div>
</form>
