@model CupcakeShop.Web.Models.Order.ConfirmOrderList


@{
    Layout = "_Layout";
    /*AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "cupcakeQuantity"
    };*/
}


<form class="confirm-order" method="post" asp-action="EditOrder" asp-route-clientId="1">
    <div>
        <h2 class="page-title">Edit Order</h2>
    </div>

    <div class=" confirmOrder-form">
        <samp>Persona Data:</samp><br>
        <label asp-for="@Model.ClientDto.FirstName">First Name: </label>
        <input asp-for="@Model.ClientDto.FirstName" type="text"><br><br>

        <label asp-for="@Model.ClientDto.LastName">Last Name: </label>
        <input asp-for="@Model.ClientDto.LastName" type="text"><br><br>

        <label asp-for="@Model.ClientDto.PhoneNumber">Phone Number: </label>
        <input asp-for="@Model.ClientDto.PhoneNumber" type="text"><br><br>

        <label asp-for="@Model.ClientDto.Email">Email: </label>
        <input asp-for="@Model.ClientDto.Email" type="text"><br><br>

        <div class="radio-container">
            <div class="radio-options">
                <input asp-for="ClientDto.Type" value="Individual" type="radio">
                <label asp-for="ClientDto.Type">Individual</label><br>

                <input asp-for="ClientDto.Type" value="Company" type="radio">
                <label asp-for="ClientDto.Type">Company</label><br>
            </div>
        </div><br>

        <samp>Address:</samp><br>
        <label asp-for="@Model.ClientDto.Street">Street: </label>
        <input asp-for="@Model.ClientDto.Street" type="text"><br><br>

        <label asp-for="@Model.ClientDto.Block">Block: </label>
        <input asp-for="@Model.ClientDto.Block" type="number"><br><br>

        <label asp-for="@Model.ClientDto.Floor">Floor: </label>
        <input asp-for="@Model.ClientDto.Floor" type="number"><br><br>

        <label asp-for="@Model.ClientDto.Suit">Suit: </label>
        <input asp-for="@Model.ClientDto.Suit" type="number"><br><br>

    </div><br>

    <div>
        @if (Model.CupcakeQuantityDto.Any())
        {
            <samp>Cupcakes:</samp>
            <br>
            <table class="cupcakes-table table-bordered table-striped ">
                <thead>
                <tr>
                    <th>
                        Cupcake Name
                    </th>
                    <th>
                        Flavour
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Weight
                    </th>
                    <th>
                        Producer
                    </th>
                    <th>
                        Expiration
                    </th>
                    <th>
                        Icing
                    </th>
                    <th>
                        Dough
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                @foreach (var cupcake in Model.CupcakeQuantityDto)
                {
                    <tr>
                        <td >@cupcake.Name</td>
                        <td >@cupcake.Flavour</td>
                        <td >@cupcake.Price</td>
                        <td >@cupcake.Weight</td>
                        <td >@cupcake.Producer</td>
                        <td >@cupcake.Expiration</td>
                        <td >@cupcake.Icing</td>
                        <td >@cupcake.Dough</td>
                        <td >
                            <div class="cart-options">
                                <div class="add-options">
                                    <div >
                                        <a asp-action="Remove" asp-route-id="@cupcake.Id" asp-route-clientId="1" title="Remove one">
                                            <i class="fas fa-minus"></i>
                                        </a>
                                    </div>
                                
                                    
                                    <input class="quantity text-center" asp-for="@cupcake.Quantity" type="text" value="@cupcake.Quantity" readonly>
                                    

                                    @if (cupcake.Stock >= 1)
                                    {
                                        <a asp-action="Add" asp-route-id="@cupcake.Id" asp-route-clientId="1" title="Add one">
                                            <i class="fas fa-plus"></i>
                                        </a>
                                    }

                                </div>

                                <div >
                                    <a asp-action="Delete" asp-route-cupcakeId="@cupcake.Id" title="Delete">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
                </tbody>
            </table>
        }
        <div class="confirmButtons">
            <input type="submit" class="submitOrderButton btn btn-primary" value="Confirm Changes">
            <a asp-controller="Order" asp-action="ConfirmOrder" asp-route-clientId="1" class="backToCartButton btn btn-danger">Back</a>
        </div>
    </div>
</form>
